.about{
    .single-about {
    float: left;
    width: 370px;
    margin-right: 30px;
    border: 1px solid #e9e8e8;
    padding: 15px;
    h4 {
        font-size: 30px;
        text-transform: capitalize;
        line-height: 40px;
      }
      p{
        margin: 15px 0;
      }
  }

}

