.contact-area{
    .contact-top{
        .single-address {
            width: 400px;
            float: left;
            margin: 100px 0 50px 0;
            i {
                font-size: 50px;
                margin-bottom: 20px;
              }
              h4 {
                font-size: 30px;
                text-transform: capitalize;
                span {
                    display: block;
                    font-size: 15px;
                    padding: 7px 0;
                    font-weight: 500;
                  }
              }
          }
    }
    .contact-bottom{
        .form-area {
            width: 500px;
            float: left;
            input, textarea{
                width: 100%;
                margin: 10px 20px;
                padding: 10px 10px;
                border: 1px solid #333;
            }
            input[type="submit"] {
                width: auto;
                background-color: tomato;
                color: #fff;
                font-size: 16px;
                padding: 10px 30px;
                border: 1px solid transparent;
                font-weight: 500;
            }
          }

          .map-area {
            float: right;
            width: 606px;
            border: 1px solid #e7e7e7;
            padding: 2px;
            iframe{
                width: 100%;
                height: 250px;
            }
          }
    }
}